body {
    background-color: #87CEEB;
}

.img-with-text {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 350px;
   height: 300px;
   margin-top: -200px; /* Half the height */
   margin-left: -175px; /* Half the width */

}


.img-with-text img {
   position: relative;
   width: 350px;
   height: 300px;
}

.img-with-text p {
   position: relative;
   width: 280px;
   height: auto;
   text-align: center;
   font-weight: bold;

}